.home_section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-top: 2rem;

    .title {
        text-align: center;

        h1 {
            font-size: 3.5rem;
            span {
                color: #8056eb;
            }
        }
        p {
            font-size: 1.5rem;
            color: #a8a8a8;
            padding: 1rem;
        }
    }

    .search_div {
        display: flex;
        align-items: center;
        gap: 1.25rem;
        padding: 1.25rem;
        width: 30%;
        height: 64px;

        .search_bar {
            flex: 1;
            display: flex;
            align-items: center;
            gap: 0.625rem;
            border-radius: 2rem;
            border: 2px solid #dee1e2;
            transition: box-shadow 0.1s ease-in, border 0.1s ease-in,
                background-color 0.1s ease-in;
            padding: 0.313rem 0.625rem;

            input {
                border-radius: 2rem;
                border: none;
                outline: none;
                flex: 1;
                padding: 0.625rem 1rem;
                font-size: 1rem;
            }

            .img_search {
                height: 50px;
                width: 50px;
                cursor: pointer;
                background-color: #8056eb;
                border-radius: 50%;
                padding: 0.625rem;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}
