.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 2rem 4rem;
    border-bottom: 2px solid #f1f1f1;

    .navigation_div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .logoipsum {
            cursor: pointer;
        }

        .navbar {
            ul {
                .nav_link {
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                display: flex;
                gap: 1.1rem;
                list-style: none;

                font-size: 1.1rem;

                li {
                    cursor: pointer;
                    font-weight: bold;
                }
            }
        }
    }
}
