.reg_log_button {
    background-color: #8056eb;
    height: 51px;
    border: none;
    border-radius: 10px;

    width: 156px;
    color: white;
    cursor: pointer;

    &:hover {
        background-color: dodgerblue;
    }
}
